@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-attachment: fixed;

}
header{

}
section{
    height: 1024px;
}
#main{

}
#about{
    background-color: #53B64B;
}

#content{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: 0 auto;

}
#name{
    grid-column: 6/11;
    grid-row: 3/10;
    font-size: 150px;
}
.navbar{
    grid-column: 1 / 11;
    font-size: 15px;
    position: sticky;
    top:0;
    border-bottom: 1px solid #b5b3ae;
    text-align: right;
    padding: 10px;

}
ul{
    display: flex;
    list-style-type: none;


}
li{
    padding: 15px;
}
a{
    color: white;
    text-decoration: none;

}
a:hover{
    color: red;
}