@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
header{
    font-size: 30px;
}

#content{
    display: grid;
}

.navbar{
    padding: 5px;

}
ul{
    display: flex;
    list-style-type: none;


}
li{
    padding: 3px;
}
a{
    color: white;
    text-decoration: none;

}
a:hover{
    color: red;
}